body{
    width: 100%;
    height: 100%;
    font-family: '微软雅黑';
    padding: 0px;
    margin:0px;
}
#app{
    width: 100%;
    height:100%;
}
.ant-layout{
    height: 100%
}
.cdot-full-page{
    width: 100%;
    height:100%;
    overflow: hidden;
}
/* 列表外部容器 */
.cdot-list-content{
    margin: 10px 10px 10px 10px;
}
.component-container{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.page-container{
    /* position: absolute;
    left: 0px;
    right:0px;
    bottom:0px;
    top:70px; */
    padding: 0px 10px;
}
.cdot-row-box{
    /* padding-left: 8px;
    padding-right: 8px; */
}

/* 按钮 */
.page-operation-btn{
    margin: 15px 0px;
}


/* 页面筛选 */
.page-filter-container-box{
    width: 100%;
    height:auto;
    padding: 15px 10px;
    background-color:#fff;
    margin-bottom: 10px;
}
.each-page-filte{
    margin-bottom: 0px!important;
}

/* 添加页 */
.add-form{
    background-color: #ffffff;
    padding-top: 15px;
}
.list-page-container{
    width: 100%;
    padding: 0px 10px;
}

/* 表格 */
.cdot-table{
    background-color: #fff;
}
.cdot-list-container{
    background-color: #fff;
    padding:10px 10px;
}
